# LaTeX intermediate/auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.glo
*.ist
*.acn
*.acr
*.alg
*.glg
*.gls
*.glsdefs
*.xdy
*.thm
*.DS_Store
aux/